@model IEnumerable<Kanoo.Models.Car>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfDrivers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfDrivers)
                </td>
                <td>
                    @if (item.Department != null)
                    {
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    }
                </td>
                <td>
                    <form asp-controller="Carts" asp-action="AddToCart">
                        <input type="hidden" name="productId" value="@item?.Id" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="submit" value="Quick Add to Cart" class="btn btn-success" />
                    </form>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <span>&nbsp;|&nbsp;</span>
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <span>&nbsp;|&nbsp;</span>
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>