@model IEnumerable<Kanoo.Models.FlightAndStay>

<div class="product-card-container ">
    @foreach (var item in Model)
    {
        <div class="product-card">
            <div class="product-card-info">
                <h4>Destination</h4>
                <p>@Html.DisplayFor(modelItem => item.From) -> @Html.DisplayFor(modelItem => item.To)</p>
                <h4>From/To</h4>
                <p>@Html.DisplayFor(modelItem => item.StartDate) / @Html.DisplayFor(modelItem => item.EndDate)</p>
            </div>
            <div class="product-card-details">
                <h4>Price</h4>
                <p>@Html.DisplayFor(modelItem => item.From) -> @Html.DisplayFor(modelItem => item.Price)</p>
            </div>

            <form asp-controller="Carts" asp-action="AddToCart">
                <input type="hidden" name="productId" value="@item?.Id" />
                <input type="hidden" name="quantity" value="1" />
                <input type="hidden" name="productType" value="@ProductType.FlightAndStay" />
                <input type="submit" value="Quick Add to Cart" class="btn btn-success" />
            </form>

            @if (User.IsInRole("Admin"))
            {
                <div class="admin-tools">
                    <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <span>&nbsp;|&nbsp;</span>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <span>&nbsp;|&nbsp;</span>
                    <a asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            }
        </div>
    }
</div>
