@model IEnumerable<Kanoo.Models.TravelAdvisor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.__typename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.suggestionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.scopeType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.__typename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.suggestionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.buCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.scopeType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.documentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.documentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.documentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
