@{
    ViewData["Title"] = "My Project Brief";
}
<h1>@ViewData["Title"]</h1>


@for (var i = 0; i < Model.Count; i++)
{
    @if (i == 0)
    {
        <section>
            <table class="table table-striped">
                <h2>Company Info</h2>
                @foreach (var info in Model[i])
                {
                    <thead>
                        <th>@info.Key</th>
                    </thead>
                    <tbody>
                        <td>@Html.Raw(info.Value)</td>
                    </tbody>
                }
            </table>
        </section>
    }
    else
    {
        <section>
            <h2>Proposal</h2>
            @foreach (var info in Model[i])
                {
                    <div>
                        <h3>@info.Key</h3>
                        <p>@info.Value</p>
                    </div>
                }
        </section>
    }
}