@model Kanoo.Models.Cart

@{
    ViewData["Title"] = "My Cart";
}

<h1>@ViewData["Title"]</h1>

@if (Model.CartItems != null)
{
    <table class="table table-striped table-bordered">
    <thead>
        <tr>Name</tr>
        <tr>Quantity</tr>
        <tr>Price</tr>
        <tr>Subtotal</tr>
    </thead>

    <tbody>
        @foreach (var cartItem in Model.CartItems)
            {
                <tr>
                    <td>@cartItem.Flight.From</td>
                    <td>@cartItem.Flight.To</td>
                    <td>@cartItem.Quantity</td>
                </tr>
                <tr>
                    <td>@cartItem.Stay.Destination</td>
                    <td>@cartItem.Stay.Rooms</td>
                    <td>@cartItem.Stay.Arrive</td>
                    <td>@cartItem.Stay.Depart</td>
                    <td>@cartItem.Stay.Adults</td>
                    <td>@cartItem.Stay.Children</td>
                </tr>
                <tr>
                    <td>@cartItem.FlightAndHotel.From</td>
                    <td>@cartItem.FlightAndHotel.To</td>
                    <td>@cartItem.FlightAndHotel.Leave</td>
                    <td>@cartItem.FlightAndHotel.Return</td>
                </tr>
                <tr>
                    <td>@cartItem.Car.Destination</td>
                    <td>@cartItem.Car.From</td>
                    <td>@cartItem.Car.To</td>
                    <td>@cartItem.Car.NumOfDrivers</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <th>Total</th>
            <td colspan="3">
                @* @(Model.CartItems.Sum(cartItem => (double)(cartItem.Quantity * cartItem.Product.MSRP))) *@
            </td>
        </tfoot>
    </table>
}