@model Kanoo.Models.Cart

@{
    ViewData["Title"] = "My Cart";
}

<h1>@ViewData["Title"]</h1>

@if (Model.CartItems != null)
{
    <div class="cart-container">
        <h5>Flight</h5>
        <div class="cart-item-details flight">
            <h6>From</h6>
            <h6>To</h6>
            <h6>Departure</h6>
            <h6>Arrival</h6>
            <h6>Class</h6>
            <h6>Price</h6>
            @{decimal flightTotal = 0;}
            @foreach (var cartItem in Model.CartItems)
            {
                if (cartItem.ProductType == ProductType.Flight && cartItem.Flight != null)
                {
                    <p>@cartItem.Flight.From</p>
                    <p>@cartItem.Flight.To</p>
                    <p>@cartItem.Flight.Departure</p>
                    <p>@cartItem.Flight.Arrival</p>
                    <p>@cartItem.Flight.ServiceClass</p>
                    <p>$@cartItem.Flight.Price</p>
                    flightTotal += cartItem.Flight.Price;
                }

            }
            <h6>Total</h6>
            <p>$@Html.Raw(flightTotal)</p>
        </div>
    </div>

    <div class="cart-container">
        <h5>Car Rental</h5>
        <div class="cart-item-details car">
            <h6>Destination</h6>
            <h6>From</h6>
            <h6>To</h6>
            <h6>Type of Car</h6>
            <h6>Price Per Day</h6>
            @{decimal carTotal = 0;}
            @foreach (var cartItem in Model.CartItems)
            {
                if (cartItem.ProductType == ProductType.Car && cartItem.Car != null)
                {
                    <p>@cartItem.Car.DestinationName</p>
                    <p>@cartItem.Car.StartDate</p>
                    <p>@cartItem.Car.EndDate</p>
                    <p>@cartItem.Car.TypeOfCar</p>
                    <p>$@cartItem.Car.PricePerDay</p>
                    carTotal += cartItem.Car.PricePerDay;
                }
            }
            <h6>Total</h6>
            <p>$@Html.Raw(carTotal)</p>
        </div>
    </div>

    <div class="cart-container">
        <h5>Overnight Stay</h5>
        <div class="cart-item-details stay">
            <h6>Destination</h6>
            <h6>Checkin</h6>
            <h6>Checkout</h6>
            <h6>Rooms</h6>
            <h6>Adults</h6>
            <h6>Children</h6>
            <h6>Price Per Day</h6>
            @{decimal stayTotal = 0;}
            @foreach (var cartItem in Model.CartItems)
            {
                if (cartItem.ProductType == ProductType.Stay && cartItem.Stay != null)
                {
                    <p>@cartItem.Stay.DestinationName</p>
                    <p>@cartItem.Stay.StartDate</p>
                    <p>@cartItem.Stay.EndDate</p>
                    <p>@cartItem.Stay.Rooms</p>
                    <p>@cartItem.Stay.Adults</p>
                    <p>@cartItem.Stay.Children</p>
                    <p>$@cartItem.Stay.PricePerDay</p>
                    stayTotal += cartItem.Stay.PricePerDay;
                }
            }
            <h6>Total</h6>
            <p>$@Html.Raw(stayTotal)</p>
        </div>
    </div>

    <div class="cart-container">
        <h5>Flight and Stay Bundle</h5>
        <div class="cart-item-details flightandstay">
            <h6>From</h6>
            <h6>To</h6>
            <h6>Start Date</h6>
            <h6>End Date</h6>
            <h6>Subtotal</h6>
            @{decimal flightAndStayTotal = 0;}
            @foreach (var cartItem in Model.CartItems)
            {
                if (cartItem.ProductType == ProductType.FlightAndStay && cartItem.FlightAndStay != null)
                {
                    <p>@cartItem.FlightAndStay.From</p>
                    <p>@cartItem.FlightAndStay.To</p>
                    <p>@cartItem.FlightAndStay.StartDate.ToString("dd/MM/yyyy")</p>
                    <p>@cartItem.FlightAndStay.EndDate.ToString("dd/MM/yyyy")</p>
                    <p>$@cartItem.FlightAndStay.Price</p> 
                    flightAndStayTotal += cartItem.FlightAndStay.Price;
                }
            }
            <h6>Total</h6>
            <p>$@Html.Raw(flightAndStayTotal)</p>
        </div>
    </div>

    <div class="cart-container">
        <h5>Total:</h5>
        <p>$@Html.Raw(flightTotal + carTotal + stayTotal + flightAndStayTotal)</p>
    </div>

    @if (Model.CartItems.Count > 0)
    {
        <a class="btn btn-success" asp-controller="Orders" asp-action="Checkout">
            Checkout
        </a>
    }
}