@model Kanoo.Models.Airport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Airport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportIata)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportIata)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Continent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Continent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsoCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsoCountry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AirportId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
