@model IEnumerable<Kanoo.Models.Airport>

@{
    ViewData["Title"] = "Airports";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@* TODO: WE NEED PAGINTATION!!! BADLY, LOL *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AirportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirportIata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Continent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsoCountry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirportIata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Continent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsoCountry)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AirportId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AirportId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AirportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
