@model Kanoo.Models.Stay

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Children)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Children)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
