@model IEnumerable<Kanoo.Models.Car>

@{
    ViewData["Title"] = "Cars";
}

<h1>Vehicles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfDrivers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfDrivers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

<div class="card-container">
    @foreach (var item in Model) {
        <div class="card">
            <h4>Destination</h4>
            <p>@Html.DisplayFor(modelItem => item.Destination)</p>
            <h5>Date and Time</h5>
            <p>@Html.DisplayFor(modelItem => item.From) to @Html.DisplayFor(modelItem => item.To)</p>
            <h5>Number of Drivers</h5>
            <p>@Html.DisplayFor(modelItem => item.NumOfDrivers)</p>
            <h5>Department</h5>
            <p>@Html.DisplayFor(modelItem => item.Department.Description)</p>
        </div>
    }
</div>
